.App-logo {
  height: 40vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.forgot-error {
  font-size: 14px;
  color: #ff0d10;
  margin-top: -10;
}

.forgot-titulo {
  min-height: 5vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #2e2e2e;
}
.forgot-img {
  margin-bottom: 2vh;
  margin-top: 4vh;
}
.forgot-form {
  display: flex;
  background-color: white;
  border-radius: 2%;
  padding: 2%;
  min-height: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.returnLogin {
  display: flex;
  margin-left: 10px;
}

@media screen and (max-width: 680px) and (min-width: 400px) {
  .forgot-img {
    display: none;
  }
  .forgot-titulo {
    min-height: 20vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    color: #2e2e2e;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
